<html>
<title>Recruiting@Berkeley</title>
<body link="white" vlink="white" alink="white">
    <div class="nav-section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4">
          <div class="company">Recruit Berkeley</div>
        </div>
        <div class="w-col w-col-8 navigation-column">
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <center>
  	<h2>
  		You are one step away from Recruit@Berkeley <br><br><br>
  		<%= image_tag "Mail_deliver.jpg"%> <br><br><br>
	Please check your email for your email confirmation. 
	<br><br> PS : Be sure to check your spam folder  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :)
</h2>
</center>
</body>
</html>