<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Mar 14 2014 18:38:27 GMT+0000 (UTC) -->
<html data-wf-site="5307e34e3e274f132a000190">
<head>
  <meta charset="utf-8">
  <title>Events</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize_events.css.scss">
  <link rel="stylesheet" type="text/css" href="css/webflow_events.css.scss">
  <link rel="stylesheet" type="text/css" href="css/eventsrecruit.webflow.css.scss">
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51e088cb308929c46c000051/51e1a444bceaf5b67b00004d_thumbnail-starter.png">
</head>
<body>
  <div class="nav-section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4">
          <div class="company">Recruit Berkeley</div>
        </div>
        <div class="w-col w-col-8 navigation-column"><a class="nav-link" href="#">Events</a><a class="nav-link" href="#">Jobs</a><a class="nav-link" href="#">Kush &gt;</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section hero">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 center">
          <div width="auto" height="auto">
                  </div>
        </div>
        <div class="w-col w-col-6 hero-column">
          <h2><%= @event.name %></h2>
          <p>March 28th: 12pm – 5pm
            <br><%= @event.location %>
            <br>Back</p><%= link_to 'Back', events_path, class:"button action" %></a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-3 w-col-small-6">
          <img src="images/Apple_logo_mask__1440x1440_by_shrakner.png" width="142" height="142" alt="5307e6e2663cb6142a0002f9_Apple_logo_mask__1440x1440_by_shrakner.png">
          <h3>Apple</h3>
          <p>This is a feature description.&nbsp;Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p><a class="button" href="#">Drop Resume</a>
        </div>
        <div class="w-col w-col-3 w-col-small-6">
          <img src="images/a-facebook-logo-with-registered-logo-square-format-best-.gif" width="142" height="142" alt="5307e6561c0800ec6b0001a0_a-facebook-logo-with-registered-logo-square-format-best-.gif">
          <h3>Facebook</h3>
          <p>This is a feature description.&nbsp;Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p><a class="button" href="#">Drop Resume</a>
        </div>
        <div class="w-col w-col-3 w-col-small-6">
          <img src="images/twitter-bird-logo-square.png" width="142" height="142" alt="5307e69b1c0800ec6b0001a6_twitter-bird-logo-square.png">
          <h3>Twitter</h3>
          <p>This is a feature description.&nbsp;Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p><a class="button" href="#">Drop Resume</a>
        </div>
        <div class="w-col w-col-3 w-col-small-6">
          <img src="images/logo_linkedin_square_1.png" width="142" height="142" alt="5307e6be663cb6142a0002f5_logo_linkedin_square_1.png">
          <h3>Linkedin</h3>
          <p>This is a feature description.&nbsp;Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p><a class="button" href="#">Drop Resume</a>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-3 w-col-small-6">
          <img src="images/image.jpeg" width="142" height="142" alt="5307e89d1c0800ec6b0001b0_image.jpeg">
          <h3>nuxeCo</h3>
          <p>This is a feature description.&nbsp;Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p><a class="button" href="#">Drop Resume</a>
        </div>
        <div class="w-col w-col-3 w-col-small-6">
          <img src="images/google.png" width="142" height="142" alt="5307e7261c0800ec6b0001a7_google.png">
          <h3>Google</h3>
          <p>This is a feature description.&nbsp;Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p><a class="button" href="#">Drop Resume</a>
        </div>
        <div class="w-col w-col-3 w-col-small-6">
          <img src="images/B_120110_BankofAmericaLogoSquare.jpg" width="142" height="142" alt="5307e7591c0800ec6b0001a9_B_120110_BankofAmericaLogoSquare.jpg">
          <h3>Chase Bank</h3>
          <p>This is a feature description.&nbsp;Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p><a class="button" href="#">Drop Resume</a>
        </div>
        <div class="w-col w-col-3 w-col-small-6">
          <img src="images/a10d6d460ff2afe7f2e4d0007e319b96.png" width="142" height="142" alt="5307e7dd663cb6142a0002fc_a10d6d460ff2afe7f2e4d0007e319b96.png">
          <h3>Morgan Stanley</h3>
          <p>This is a feature description.&nbsp;Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p><a class="button" href="#">Drop Resume</a>
        </div>
      </div>
      <div class="w-row special-row">
        <div class="w-col w-col-8 special-column">
          <h3>Contact the organisers</h3>
          <p>This is a feature description.&nbsp;Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.&nbsp;This is a feature description.&nbsp;Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur
            est at lobortis.</p>
        </div>
        <div class="w-col w-col-4 email-column"><a class="button action" href="#">Email</a>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow_events.js"></script>
</body>
</html>